@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif&family=Martel+Sans:wght@700&display=swap');

body{
  font-family: 'Hedvig Letters Serif', serif; 
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Hedvig Letters Serif', serif;
}
.nav-link,
.category-buttons button {
  font-family: 'Hedvig Letters Serif', serif;
}

.nav-link {
  
}


body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  margin-top: 60px;
  
  right: 0;
}
/* NavBar */



/* activities */
div.card {
  margin-left: 2rem;
  margin-right: 2rem;
  
}
span.react-datepicker__aria-live {
  display: none;
}
div.row {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.card-body a {
  margin: 0.1rem;
  background-color: rgb(151, 163, 170);
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 1rem!important;
  height: 1rem!important;
  margin-bottom: 1rem!important;
}
.logo-container{
  display: block;
  text-align: center;
}


@media (max-width: 576px){
  .category-buttons {
    padding-top:1rem;
    
    
  }
}




@media (max-width: 576px) {
  body::before {
    content: "whatever";
    .img-thumbnail {
      margin-top: 100px!important;
    }
    .img-fluid {
      margin-top: 100px!important;
    }
  }
  .imgCarousel {
      width: 90vw;
      height: 65vh;
      display: block;
      
  }
  .buttonsNavBar.buttonsNavBar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .chooseDate{
    font-size:larger;
  }
  .weather-info{
    display: flex;
    flex-direction: column;
  }
  .weather {
    height: 30rem;
    background-image: url(/DSCF2853-2.JPG);
    background-size: cover;
  }
  .weather-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:3rem;
    width: 15rem;
    height: 30rem;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    border-radius: 8px;
    text-align: center;
    color: black;  
  }
  .buttonsNavBar.buttonsNavBar{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .buttonsNavBar .navbar-toggler{
    background-color: rgba(156, 152, 152, 0.145);
    margin: 0.15rem 1rem;
  }
  .logo-container img{
    max-width: 200px;
  }
  .text-container-big{
    display: none;
  }
  .category-buttons{
    flex-direction: column;
    align-content: center;
    padding: 0;
  }
  .container-galleryTwo .popup-media img {
    max-width: 85%;
   
  } 
  
  
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
  .imgCarousel {
    width: 95vw;
    height: 65vh;
    display: block;
    
  }
  .buttonsNavBar.buttonsNavBar{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
    
  }
  
 
  .weather {
    height: 45rem;
    background-image: url(/DSCF2853-2.JPG);
    background-size: cover;
  }
  .weather-text{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:3rem;
    width: 40rem;
    height: 8rem;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    border-radius: 8px;
    text-align: center;
    color: black;  
  }
  .buttonsNavBar .navbar-toggler{
    background-color: rgba(156, 152, 152, 0.145);
    margin: 0.55rem 1.5rem;
  }
  .text-container-small{
    display: none;
  }
  
  

}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
  nav.navbar {
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  }
  .navbar-nav-centered {
  display: flex;
  justify-content: center;
  width: 100%;
  gap:2rem;
}


}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
  .text-container-big{
    display: block;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
  }
  
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}

