
body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  margin-top: 60px;
  
  right: 0;
}
/* NavBar */
nav.navbar {
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem!important;
}
.buttonsNavBar .navbar-toggler{
  background-color: rgba(156, 152, 152, 0.145);
  margin: 0.25rem 0.2rem;
}

div.card {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
span.react-datepicker__aria-live {
  display: none;
}
div.row {
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.weather {
  height: 30rem;
  background-image: url(/DSCF2853-2.JPG);
  background-size: cover;
}
.weather-text{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap:3rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  border-radius: 8px;
  text-align: center;
  color: black;  
}
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 1rem!important;
  height: 1rem!important;
  margin-bottom: 1rem!important;
}
nav.navbar {
  background-color: white!important;
  padding-top: 1.5rem!important;
}

@media (max-width: 576px){
  .category-buttons {
    padding-top:1.5rem;
    
  }
}


@media (max-width: 576px) {
  body::before {
    content: "whatever";
    .img-thumbnail {
      margin-top: 100px!important;
    }
    .img-fluid {
      margin-top: 100px!important;
    }
  }
  .imgCarousel {
      width: 90vw;
      height: 65vh;
      display: block;
      margin: 160px auto 3rem;
  }
  .buttonsNavBar.buttonsNavBar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
  .imgCarousel {
    width: 90vw;
    height: 65vh;
    display: block;
    margin: 110px auto 3rem;
  }
  .buttonsNavBar.buttonsNavBar{
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
  nav.navbar {
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem!important;
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}

